<div class="row justify-content-center" style="margin: 40px 0px 0px;">
  <div class="col-9">
    <div style="height:140px; text-align: center; background-color: #eeeeee;">
        <video controls="true" playsinline [src]="this.learnSubTask.question.videos[0]?.getUrl() | domSanitizer: 'resourceUrl'" *ngIf="this.learnSubTask.question.videos"></video>
    </div>
  </div>
  <div class="w-100" style="margin: 5px"></div>
  <div class="col-6">
    <div class="row justify-content-center">
      <div *ngFor="let answer of this.learnSubTask.optionalAnswers" class="col-5 m-0 p-1">
        <div class="tile" (click)="this.checkAnswer(answer)">
          <img [ngClass]="{'img-focus': this.learnSubTask.correctResponseIDs.includes(answer.id)||this.learnSubTask.wrongResponseIDs.includes(answer.id)}" src="{{answer.image}}" alt="{{answer.title}}" >
          <i class="fa fa-4x" [ngClass]="{'fa-times': this.learnSubTask.wrongResponseIDs.includes(answer.id), 'wrong':this.learnSubTask.wrongResponseIDs.includes(answer.id),
          'fa-check': this.learnSubTask.correctResponseIDs.includes(answer.id), 'correct': this.learnSubTask.correctResponseIDs.includes(answer.id)}"></i>
        </div>
        <div class="m-0 p-0">
        {{answer.title}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position: absolute; bottom: 15px">
<div class="col-12" >
  <button type="button" class="btn btn-primary col-4" (click)="goBack()"><i class="fa fa-arrow-left"></i> {{ 'back' | translate }}</button>
  <button type="button" class="btn btn-primary col-4 offset-4"  (click)="goFurther()">{{ 'continue' | translate }} <i class="fa fa-arrow-right"></i></button>
</div>
</div>
