<div class="modal">
  <div class="container top-container">
    <i class="fa fa-video-camera"></i><span><b>Gebaar toevoegen</b></span>
  </div>
  <div class="container middle-container middle-container-bar">
    <div class="text-padded">Om gebaren op te nemen en aan het Woordenboek toe te voegen,
      moet je ingelogd zijn.
      Ga naar Instellingen<i class="fa fa-cog" style="text-align: center"></i>om in te loggen.</div>
  </div>
  <div class="container bottom-container">
    <button type="button" class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left btn-i"></i> Terug</button>
  </div>
</div>
