

<div class="input-group mt-3 mb-3" style="padding-left:15px">
  <input type="text" class="form-control" placeholder="Zoeken" aria-label="Recipient's username" aria-describedby="basic-addon2" (keyup.enter)="Search(this.searchTerm)" [(ngModel)]="searchTerm">
  <div class="input-group-append  col-4">
    <button class="btn btn-primary btn-block" style="z-index: 0;" type="button" (click)="Search(this.searchTerm)"><i class="fa fa-search"></i></button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-categories></app-categories>
  </div>
</div>



