<div class="modal" (click)="this.AddSignMinimalizeEvent.emit(true)">
</div>
<div class="popup-layer container limit-phone-size">
  <div class="h-100">
    <div class="content-container">
      <div class="col-12 purple-border top-container">
        <i class="fa fa-video-camera"></i><span><b>{{ 'add-sign.add-sign' | translate }}</b></span>
      </div>
      <div class="purple-border middle-container f-flex flex-column">
        <div class="col-12 input-list">
          <i class="fa fa-question-circle"></i>
          <input type="text" placeholder="{{ 'add-sign.meaning' | translate }}" name="meaning" required
                 (focusout)="validateMeaning(meaning)" [(ngModel)]="meaning">
          <div class="alert-container">
            <div class="alert-danger" role="alert" [hidden]="!meaningError">
              {{ meaningError | translate }}
            </div>
          </div>

          <i class="fa fa-list"></i>
          <select type="text" name="category" (focusout)="validateCategory(categoryId)" [(ngModel)]="categoryId">
            <option value="" selected>{{ 'add-sign.category' | translate }}</option>
            <option *ngFor="let category of categories"
                    [value]="category.id">
              {{category.title}}
            </option>
          </select>
          <div class="alert-container">
            <div class="alert-danger" role="alert" [hidden]="!categoryError">
              {{ categoryError | translate }}
            </div>
          </div>

          <div class="row no-gutters mt-2">
            <i class="fa fa-video-camera"></i>
            <div class="col" [hidden]="video">
              <span style="line-height: 2em;">{{ 'add-sign.add-sign' | translate }}:</span>
              <app-video-upload (videoFileEmitter)="video = $event;  this.videoError = ''"></app-video-upload>
            </div>
            <div class="col-8 " *ngIf="video?.file?.rawFile" style="height: 125px; background-color: #eeeeee;">
              <video [src]="video?.file?.rawFile | domSanitizer: 'VideoSource'" playsinline
                     (error)="videoErrorFunction($event)"></video>
            </div>
            <div class="col" [hidden]="!video">
              <app-video-upload (videoFileEmitter)="video = $event"></app-video-upload>
            </div>
          </div>
          <div class="alert-container">
            <div class="alert-danger" role="alert" [hidden]="!videoError">
              {{ videoError | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 bottom-container">
        <button type="button" class="back-button btn btn-primary" (click)="goBack()"><i
          class="fa fa-arrow-left btn-i"></i> {{ 'back' | translate }}
        </button>
        <button type="button" class="btn btn-primary right-button" (click)="addSign()"><i
          class="fa fa-arrow-right btn-i"></i> {{ 'continue' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-add-sign-confirm *ngIf="this.showConfirmationScreen"
                      [sign]="this.sign"
                      [video]="video"
                      [uploadingVideoisBusy]="this.uploadingData"
                      (ConfirmAddSignEvent)="this.confirm($event)"
                      (ChangeImageEvent)="this.changeImage($event)"></app-add-sign-confirm>
