<div class="row m-0">
  <div class="col-12" routerLink="/learn" routerLinkActive="active">
    <app-shared-back-button></app-shared-back-button>
  </div>
</div>


<div class="col-12 pt-2">
  <span class="title"> <i class="fa fa-2x fa-calendar"></i> {{ 'learn.sign-of-day' | translate }}: </span>
</div>
<div class="row m-0 sign-of-day">
  <div class="col-12" style="text-align: center">
    <span class="category-title">
      <img src="{{category?.image}}" alt="{{category?.title}}" style="height: 25px; width: 25px; margin-left: -5.5px;">
      <b> {{category?.title}} </b>
    </span>
  </div>
</div>
<app-sign-details [currentSignId]="signId"></app-sign-details>
