<div class="row m-0">
  <div class="col-12" routerLink="/learn" routerLinkActive="active">
    <app-shared-back-button></app-shared-back-button>
  </div>
</div>


  <div style="margin: 15px;">
    <i class="fa fa-calendar"></i> {{ 'learn.sign-of-day' | translate }}:
  </div>
<div class="sign-of-day">
  <div class="row m-0">
    <div class="col-12" style="text-align: center">
      <img src="{{category?.image}}" alt="{{category?.title}}" style="height: 15px">
      <span>&nbsp;<b> {{category?.title}} </b></span>
    </div>
  </div>
</div>
<app-sign-details [currentSignId]="signId"></app-sign-details>
