<div class="row" >
  <div class="col-12" routerLink="/learn" routerLinkActive="active">
    <div class="col-4">
      <i class="fa fa-arrow-circle-left purple-icon"></i>
      <span> Terug</span>
    </div>
  </div>
</div>

<div style="margin: 15px;">
  <i class="fa fa-3x fa-calendar"></i> Gebaar van de dag:
</div>
<div class="row">
  <div class="col-12" style="text-align: center">
      <i class="fa fa-paw"></i>
      <span><b> Dieren</b></span>
  </div>
</div>
<app-sign-details [currentSignId]="currentSignId" ></app-sign-details>
