<div class="modal" >
</div>
<div class="popup-layer container limit-phone-size">
  <div class="h-100">
    <div class="content-container">
      <div class="col-12 purple-border top-container">
        <i class="fa fa-video-camera"></i><span><b>New Media Lab Research</b></span>
      </div>
      <div class="container-border purple-border middle-container middle-container-bar">
        <div class="p-4">
          <span>
           Hey! <br>
          Thank you for testing our app. <br/>

          We've limited the screen width as the final app will be published as a mobile application.
            <br/>We already included some categories and signs, I hope you like it!
          </span>

          <p class="pt-5">
            FYI: We do not log any behaviour.
          </p>
        </div>
      </div>
      <div class="col-12 bottom-container">
        <button (click)="goBack()" class="back-button btn btn-primary col-12" type="button"> Start adventure</button>
      </div>
    </div>
  </div>
</div>

