.btn-settings{
  float:right;
  position: fixed;
}

.btn-secondary {
  width: calc(100%/3);
  border-color: #593196;
  border-radius: 5px;
}

.settings {
  color: white;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

.btn-secondary:active,
.btn-secondary.active{
  border-color: #593196 !important;
  background-color: #593196 !important;
 }

i {
  font-size: 300%;
}

hr {
  margin:1px;
}
