<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary m-0 p-0">
    <div class="d-flex flex-fill justify-content-between bd-highlight mb-3">
      <div class="p-2 bd-highlight">
      </div>

      <div class="p-2 bd-highlight">
      <a class="navbar-brand " href="#">WeSign!</a>
      </div>
      <div class="p-2 bd-highlight" id="navbarColor01">
        <button class="btn settings" routerLink="/settings" routerLinkActive="active">
          <span><i class="fa fa-cog" style="font-size: 120%"></i></span>
        </button>
      </div>
    </div>
  </nav>
  <div>
  </div>
  <div class="header">
    <div class="btn-settings">
    </div>
    <hr>
    <div>
      <button class="btn btn-secondary" routerLink="/categories" routerLinkActive="active">
        <span><i class="fa fa-heart"></i><br />Categorieën</span>
      </button>
      <button class="btn btn-secondary" routerLink="/learn" routerLinkActive="active">
        <span><i class="fa fa-graduation-cap"></i><br />Leren</span>
      </button>
      <button class="btn btn-secondary" routerLink="/search" routerLinkActive="active">
        <span><i class="fa fa-search"></i><br />Zoeken</span>
      </button>
    </div>
    <hr>
  </div>
  <router-outlet></router-outlet>
</div>
