<div class="row m-0 mt-2" *ngIf="this.sign">
  <div class="col-3">
    <img src="{{sign.image}}" alt="{{sign.title}}" class="sign-image">
  </div>
  <div class="col-3 align-self-center h5">
    {{sign.title}}
  </div>
</div>
<hr style="border-color: #593196; margin: 15px">
<div *ngIf="this.sign">
  <div *ngFor="let video of sign.videos" style="margin: 15px">
    <div class="row no-gutters m-0" [hidden]="this.isPersonalDictionary && !video.isFavorite">
      <div class="col-10">
        <div style="height:170px; text-align: center; background-color: #eeeeee;">
          <video controls="true" playsinline  [src]="video?.getUrl() | domSanitizer: 'resourceUrl'"></video>
        </div>
      </div>
      <div class="col-2 align-self-end sidebar" *ngIf="isPersonalDictionary">
        <i class="fa fa-3x fa-trash purple-icon" (click)="delete(video)"></i>
      </div>
      <div class="col-2 sidebar" [hidden]="isPersonalDictionary">
        <i class="fa fa-3x fa-heart-o purple-icon" (click)="addToPersonal(video)" *ngIf="!video.isFavorite"></i>
        <i class="fa fa-3x fa-heart purple-icon" (click)="removeFromPersonal(video)" *ngIf="video.isFavorite"></i>
      </div>
      <div class="col-12">
        <i class="fa fa-heart" [ngClass]="{'purple-icon': video.isFavorite}"></i> {{video.popularity}}x
      </div>
    </div>
  </div>
</div>

<app-delete-popup [sign]="this.sign" [video]="this.video"
                  [hidden]="this.hideDeletePopup"
                  (DeletePopupMinimalizeEvent)="this.hideDeletePopup = $event"></app-delete-popup>
<p-disclaimer></p-disclaimer>
