<div class="modal" (click)="this.ConfirmAddSignEvent.emit('close')">
</div>
<div class="popup-layer container">
  <div class="h-100">
    <div class="content-container" [hidden]="uploadingVideoisBusy">
      <div class="col-12 purple-border top-container">
        <i class="fa fa-video-camera"></i><span><b>Gebaar toevoegen</b></span>
      </div>
      <div class="purple-border middle-container f-flex flex-column">
        <div class="row">
          <div class="col-12" style="text-align: center">
            <img src="{{this.sign.category?.image}}" alt="{{this.sign.category?.title}}" style="height: 15px">
            <span>&nbsp;<b> {{this.sign.category?.title}} </b></span>
          </div>
        </div>
        <div class="row" style="margin: 0" *ngIf="this.sign">
          <div class="col-4">
            <div class="sign-image">
              <img src="{{sign.image}}" alt="{{sign.title}}">
            </div>
          </div>
          <div class="col-3 align-self-center h5">
            {{sign.title}}
          </div>
          <div class="col-5 align-self-center">
            <button type="button" class="btn btn-primary change-image-button" (click)="changeImage()">
              <div><i class="fa fa-rotate-right btn-i"></i></div>
              <div>Verander foto</div>
            </button>
          </div>
        </div>
        <hr style="border-color: #593196; margin: 15px">
        <div class="row no-gutters" style="margin: 15px 0px 15px 15px;" *ngIf="this.sign">
          <div class="col-10">
            <div style="height:150px; text-align: center; background-color: #eeeeee;">
              <video controls="true" playsinline autoplay [src]="video?.file?.rawFile | domSanitizer: 'VideoSource'"></video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 bottom-container">
        <button type="button" class="back-button btn btn-primary" (click)="goBack()"><i
          class="fa fa-arrow-left btn-i"></i> Terug
        </button>
        <button type="button" class="btn btn-primary right-button" (click)="addSign()"><i
          class="fa fa-plus-circle btn-i"></i> Toevoegen
        </button>
      </div>
    </div>


    <div class="content-container" *ngIf="uploadingVideoisBusy">
      <div class="col-12 purple-border top-container">
        <i class="fa fa-video-camera"></i><span><b>Video uploaden...</b></span>
      </div>
      <div class="purple-border middle-container f-flex flex-column">
        <div class="row">
          <div class="col-12" style="text-align: center">
            Een moment geduld a.u.b.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
