<div class="input-group pt-2 mb-2" style="padding-left:15px">
  <input type="text" class="search-bar form-control" name="search" placeholder="{{ 'dictionary.public.search' | translate }}..." aria-label="Recipient's username"
         aria-describedby="basic-addon2" (keyup.enter)="Search(this.searchTerm)" [(ngModel)]="searchTerm" style="font-family:Arial, FontAwesome">
  <div class="input-group-append  col-4 pr-3">
    <button class="btn btn-primary btn-block" style="z-index: 0;" type="button" (click)="Search(this.searchTerm)"><i
      class="fa fa-search"></i></button>
  </div>
</div>
<hr style="margin:0px;">




