<div style="margin-right: 0px">
  <div class="col" style="padding-right:0px; margin-right:0px;">
    <label type="button" class="btn btn-outline-primary row" style="padding-right:0px; margin-right:0px; width: 100%">
        <span>
          <i class="fa fa-video-camera knopje"></i><br/>Camera
        </span>
    </label>
  </div>
  <div class="col" style="padding-right:0px; margin-right:0px;">
    <label for="video-upload" class="btn btn-outline-primary row" style="padding-right:0px; margin-right:0px; width: 100%">
        <span>
          <i class="fa fa-upload knopje"></i><br/>Upload
        </span>
    </label>
  </div>
  <input type="file" id="video-upload" accept="video/*" ng2FileSelect [uploader]="uploader"/>

  <!-- <button type="button" class="btn btn-success btn-s"
           (click)="uploader.uploadAll()"
           [disabled]="!uploader.getNotUploadedItems().length" >
     Upload an Image
   </button>-->
</div>
