<div class="row">
  <div class="col-12 ">
    <div class="row" routerLink="/personal" style="margin: 0">
      <div class="col-4">
        <i class="fa fa-arrow-circle-left purple-icon"></i>
        <span> Terug</span>
      </div>
      <div class="col-4" style="text-align: center">
        <i class="fa fa-paw"></i>
        <span><b> {{this.currentSignCategoryTitle}}</b></span>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="row" style="margin: 0;">
  <div *ngFor="let sign of signs" class="col-md-3 col-4">
    <app-square-overview-tile [content]="sign" [referencedDomain]="'signs/details'"></app-square-overview-tile>
  </div>
</div>
<span *ngIf="(noMoreSignsAvailable && signs.length == 0)">Er zijn geen gebaren.</span>
