i {
  font-size: 300%;
}


.btn-learn {
  text-align: left;
  width: 100%;
  border-radius: 15px;
  background-color: #eeeeee;
  margin: 10px 0px;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

