

<div id="overlay" class="container">

  <p><span class="register"><b>Account aanmaken</b></span></p>

  <b>Gebruikersnaam</b>
  <input type="text" placeholder="Gebruikersnaam" name="geb_naam" required>

  <b>Emailadres</b>
  <input type="text" placeholder="Emailadress" name="email" required>


  <b>Wachtwoord</b>
  <input type="password" placeholder="Wachtwoord" name="ww" required>

  <b>Wachtwoord herhalen</b>
  <input type="password" placeholder="Wachtwoord" name="ww2" required>

  <button type="button" class="btn btn-primary">Maak account</button>

</div>
