/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 5px 0px 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span.register {
  font-size: 150%;
  padding-left: 5%;
}

/* Set button position */
button {
  margin: 8px auto;
  display: block;
}

/* Add padding to containers */
.container {
  padding-left: 50px;
  padding-right: 50px;
}
