<div class="content-container">
  <div class="col-12 purple-border top-container">
    <i class="fa fa-sign-out"></i><span><b>{{ 'settings.logout.logout' | translate }}</b></span>
  </div>
  <div class="container-border purple-border middle-container middle-container-bar">
    <div class="p-4">
      <span>
        {{ 'settings.logout.message-part1' | translate }}
        <i class="fa fa-video-camera" style="text-align: center"></i>
        {{ 'settings.logout.message-part2' | translate }}
      </span>
    </div>
  </div>
  <div class="col-12 bottom-container">
    <button type="button" class="back-button btn btn-primary" (click)="goBack()">
      <i class="fa fa-arrow-left btn-i"></i> {{ 'back' | translate }}
    </button>
    <button type="button" class="btn btn-primary right-button" (click)="logout()">
      <i class="fa fa-sign-out btn-i"></i> {{ 'settings.logout.logout' | translate }}
    </button>
  </div>
</div>
