<div class="content-container">
  <div class="col-12 purple-border top-container">
    <i class="fa fa-user-circle"></i><span><b>Account</b></span>
  </div>
  <div class="container-border purple-border middle-container middle-container-bar">
    <div class="p-4">
      <span>Je wijzigingen zijn opgeslagen.
            Je kunt vanaf nu inloggen met je nieuwe wachtwoord.
      </span>
    </div>
  </div>
  <div class="col-12 bottom-container">
    <button type="button" class="btn btn-primary right-button" (click)="continue()">
      <i class="fa fa-arrow-right btn-i"></i>Verder
    </button>
  </div>
</div>
