img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  bottom: 0;
  object-fit:fill;
}
.image-box {
  height: calc(100% - 35px);
  width: 100%;
}

img:hover {
  opacity: 0.3;
}

.tile {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 7px;
  margin-bottom: 8px;
  overflow: hidden;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis;  /*cut off text with an ellipsis*/
}
