<div class="content-container">
  <div class="col-12 purple-border top-container">
    <i class="fa fa-unlock-alt"></i><span><b>Wachtwoord vergeten</b></span>
  </div>
  <div class=" purple-border middle-container d-flex flex-column ">
    <div class="p-4">
      <span>Wij sturen je een mail waarmee je het wachtwoord opnieuw kan instellen:</span>

      <div class="col-12">
        <i class="fa fa-at"></i>
        <input type="text" placeholder="E-mailadress" name="email" required [(ngModel)]="emailAddress">
        <div class="alert-container">
          <div class="alert-danger" role="alert" [hidden]="!emailError">
            {{emailError}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 bottom-container">
    <button (click)="goBack()" class="back-button btn btn-primary" type="button"><i class="fa fa-arrow-left btn-i"></i> Terug</button>

    <button type="button" class="btn btn-primary right-button" (click)="continue()"><i
      class="fa fa-arrow-right btn-i"></i>Verder
    </button>
  </div>
</div>
