<div class="container top-container">
  <i class="fa fa-unlock-alt"></i><span><b>Wachtwoord vergeten</b></span>
</div>
<div class="container middle-container">
  <div>
    Wij sturen je een mail waarmee je het wachtwoord opnieuw kan instellen:
  </div>
  <i class="fa fa-at"></i>
  <input type="text" placeholder="E-mailadress" name="email" required [(ngModel)]="emailAddress">
  <div class="alert-container">
    <div class="alert-danger" role="alert" [hidden]="!emailError">
      {{emailError}}
    </div></div>

</div>
<div class="container bottom-container">
  <button type="button" class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left btn-i"></i> Terug</button>
  <button type="button" class="btn btn-primary right-button" (click)="continue()"><i class="fa fa-arrow-right btn-i"></i>Verder</button>
</div>
