
<div class="row" style="margin: 0;">
  <div *ngIf="(this.searchTerm && signs.length != 0)" class="col-12">Er zijn {{this.signs.length}} zoekresultaten voor '{{this.searchTerm}}'.</div>
  <div *ngFor="let sign of signs" class="col-md-3 col-4">
    <app-square-overview-tile [content]="sign" [referencedDomain]="'signs/details'"
                              (click)="ObjectClickedEventHandler.emit(sign)"></app-square-overview-tile>
  </div>
</div>
<span *ngIf="(noMoreSignsAvailable && signs.length == 0)" style="margin: 15px">Er zijn geen gebaren<span *ngIf="this.searchTerm"> voor de zoekterm '{{this.searchTerm}}'</span>.</span>
